<div class="columns" *ngIf="(observablePlaylist | async).loadState === 'PlaylistState.LOADING'">
  <!-- LOADING -->
  <div class="artwork">

  </div>

  <div class="info">
    Loading...
  </div>
</div>

<div class="columns" *ngIf="!(observablePlaylist | async).loadState && !(observablePlaylist | async).tracks?.length">
  <!-- EMPTY PLAYLIST -->
  <div class="artwork is-empty">

  </div>

  <div class="info is-empty">
    <h2 class="info__title">This room is empty!</h2>
    <p class="info__text">Drag and drop tracks from your Spotify desktop app to start jammin'!</p>
  </div>
</div>

<div class="columns" *ngIf="!(observablePlaylist | async).loadState && (observablePlaylist | async).tracks?.length">
  <!-- POPULATED PLAYLIST -->
  <div class="artwork">
    <sr-timeline [percentage]="progress$"></sr-timeline>

    <button class="artwork__image-wrap u-no-style" (click)="togglePlay()">
      <img class="artwork__image" [src]="playlistTrack?.track?.images[2].url">
    </button>

    <div class="play-pause">
      <i class="artwork__play-icon fa fa-play fa-2x" *ngIf="!(observablePlaylist | async).isPlaying"></i>
      <i class="artwork__pause-icon fa fa-pause fa-2x" *ngIf="(observablePlaylist | async).isPlaying"></i>
    </div>
  </div>

  <div class="info">
    <div class="info__playlist-name">
      {{(observablePlaylist | async).isPlaying
      ? 'Now playing in'
      : 'Ready to play in'}}
      {{(observablePlaylist | async).name}}
    </div>

    <div class="info__track-name">{{playlistTrack?.track?.name}}</div>
    <div class="info__artist-name">{{playlistTrack?.track?.artists | srArtistsNames}}</div>
    <div class="info__user-name-added">Added by {{playlistTrack?.createdBy?.name}}</div>
  </div>
</div>

<!--<pre>loadState: {{(observablePlaylist | async).loadState}}</pre>-->
<!--<pre>tracks: {{(observablePlaylist | async).tracks}}</pre>-->
