<div *ngIf="playlistCollection.loadState === PlaylistCollectionState.LOADING">
  <i class="fa fa-circle-o-notch fa-spin"></i> Loading Soundrooms...
</div>
<div *ngIf="isSlowConnection"><i class="fa fa-wifi"></i> Slow connection, we'll keep trying...</div>


<!--The ngFor doesn't work well if wrapped in an *ngIf="playlists | async" — throws exception, likely change detection issues-->
<section *ngIf="playlistCollection.loadState !== PlaylistCollectionState.LOADING">
  <ul class="playlists">
    <li *ngFor="let playlist of playlistCollection.playlists">

      <sr-playlist-menu-item [playlist]="playlist"></sr-playlist-menu-item>
    </li>
    <li>
      <sr-playlist-create></sr-playlist-create>
    </li>
  </ul>

  <div class="room-count">
    You have {{playlistCollection.playlists.length}} rooms to choose from, or create your own!
  </div>
</section>

<!--<pre>playlist menu play: {{playlistCollection.playlists.length}}</pre>-->
