@import '../../../style/setup/all';

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px;

  background-color: #fff;
}

.playlist-menu-item {
  &__close {
    display: inline-block;
    float: right;

    &.is-delete-confirm {
      width: 100%;
      padding: 10px;

      color: #fff;
      background-color: crimson;
      border-radius: 4px;

      &:hover{
        color: #fff;
        background-color: red;
      }

      &[disabled] {
        cursor: auto;
        color: #999;
        background-color: #ccc;
      }
    }

  }
}
