@import '../../../style/setup/main';

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px;

  background-color: #fff;
}

.playlist-menu-item {
  &__close {
    display: inline-block;
    float: right;

    &.is-delete-confirm {
      width: 100%;
      padding: 10px;

      color: #fff;
      background-color: crimson;
      border-radius: 4px;

      &:hover{
        color: #fff;
        background-color: red;
      }

      &[disabled] {
        cursor: auto;
        color: #999;
        background-color: #ccc;
      }
    }

  }
}


// TODO: Place this in global utils
button.no-style {
  /* Remove styling of <button> element */
  display: block;
  cursor: pointer;

  border: 0 solid transparent;
  border-radius: 0;

  background: transparent;

  box-shadow: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  padding: 0;
  margin: 0;

  -webkit-appearance: button;
}
