<div
  *ngIf="playlistCreate.state === PlaylistCreateState.ADDING_NAME
  || playlistCreate.state === PlaylistCreateState.ADDING_DESCRIPTION
  || playlistCreate.state === PlaylistCreateState.ERROR">
  <button class="close u-no-style" (click)="close()">
    <i class="fa fa-close"></i>
  </button>
</div>

<div class="inner" *ngIf="playlistCreate">

  <button class="button" *ngIf="playlistCreate.state === PlaylistCreateState.DEFAULT" (click)="next()">Create a room +</button>

  <!-- Assign state enums in a component property `PlaylistCreateState`? -->
  <div
    *ngIf="playlistCreate.state === PlaylistCreateState.ADDING_NAME
    || playlistCreate.state === PlaylistCreateState.ADDING_DESCRIPTION
    || playlistCreate.state === PlaylistCreateState.ERROR">

    <!-- TODO: Wrap in form and use submit -->
    <input
      #nameInput
      type="text"
      autofocus
      placeholder="Give your room a snazzy name"
      class="form-control"
      [(ngModel)]="name"
      [disabled]="playlistCreate.state === PlaylistCreateState.ADDING_DESCRIPTION">

    <input
      #descriptionInput
      *ngIf="playlistCreate.state === PlaylistCreateState.ADDING_DESCRIPTION"
      type="text"
      placeholder="What's the music policy?"
      class="form-control"
      [(ngModel)]="description">

    <button class="button" (click)="next()">
      {{getButtonLabel(playlistCreate.state)}}
    </button>
  </div>

  <div *ngIf="playlistCreate.state === PlaylistCreateState.CREATING">
    <i class="fa fa-circle-o-notch fa-spin"></i> Creating "<span>{{name}}</span>"
  </div>

  <!--<div style="margin-top: 30px">-->
  <!--<code>playlistCreate.state: {{playlistCreate.state}}</code>-->
  <!--</div>-->

</div>
