@import '../../../style/setup/all';

:host {
  display: block;
  padding: 35px 0 0;

  background: $color-white;
}

.inner {
  padding: 0 10px;
}

.heading {
  padding: 0 0 25px;
  color: $color-grey-grit;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid $color-grey-grit;
}

.empty-queue {
  padding: 20px 0;
  text-align: center;
}

.queue-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.queue-list {
  display: table;
  //table-layout: fixed;
  width: 100%;
}

.track {
  display: table-row;
  padding: 20px 0;
  font-size: 13px;

  &__data {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__up-vote-count {
    width: 20px;
    font-size: 20px;
    color: $color-grey-grit;
  }

  &__up-vote {
    width: 20px;
    text-align: center;
  }

  &__album-art {
    width: 30px;
    text-align: right;
  }

  &__info {
    color: $color-grey-grime;
  }

  &__info-name {
    font-size: 16px;
  }

  &__user {
    font-size: 13px;
    color: $color-grey-grit;
  }

  &__avatars {
    text-align: right;
  }
}

////////////////////////////
// Breakpoints
////////////////////////////

@include wider-than(medium) {
  .inner {
    padding: 0 100px;
  }
}
