<div class="inner">
  <h3 class="heading">Up next</h3>

  <div class="empty-queue" *ngIf="!playlistTracks.length">Add more tracks to keep the music pumpin'!</div>

  <ol class="queue-list" *ngIf="playlistTracks.length > 0">
    <li class="track" *ngFor="let playlistTrack of playlistTracks; let index = index">
      <div class="track__data track__up-vote-count">{{playlistTrack.upVotes.length}}</div>
      <div class="track__data track__up-vote">
        <button class="u-no-style" (click)="upVote(playlistTrack)" *ngIf="isLoggedIn && !hasUserUpVote(playlistTrack)"><i class="fa fa-arrow-up"></i></button>
        <i class="fa fa-smile-o fa-2x" *ngIf="isLoggedIn && hasUserUpVote(playlistTrack)"></i>
      </div>
      <div class="track__data track__album-art"><img class="o-avatar" [class.o-avatar--medium]="index === 0" [src]="playlistTrack.track.images[0].url"></div>
      <div class="track__data track__info">
        <div class="track__info-name">{{playlistTrack.track.name}}</div>
        <div class="track__info-artists">{{playlistTrack.track.artists | artistsNames}}</div>
        <!--<div>{{playlistTrack._id}} / {{playlistTrack.track._id}}</div>-->
      </div>
      <div class="track__data track__user" title="{{playlistTrack.createdBy.name}} added this track {{playlistTrack.created | moment:'fromNow'}}!"><i class="fa fa-user"></i> {{playlistTrack.createdBy.name}}</div>
      <div class="track__data track__avatars">
        <up-vote-avatars [upVotes]="playlistTrack.upVotes"></up-vote-avatars>
      </div>
    </li>
  </ol>
</div>
