<div class="inner">
  <h3 class="heading">Up next</h3>

  <div class="empty-queue" *ngIf="!playlistTracks.length">Add more tracks to keep the music pumpin'!</div>

  <ol class="queue-list" *ngIf="playlistTracks.length > 0">
    <li class="track" *ngFor="#playlistTrack of playlistTracks">
      <div class="track__data track__up-vote-count">{{playlistTrack.upVotes.length}}</div>
      <div class="track__data track__up-vote">
        <button class="u-no-style" (click)="upVote(playlistTrack)"><i class="fa fa-arrow-up"></i></button>
      </div>
      <div class="track__data track__album-art">Art</div>
      <div class="track__data track__info">
        <div class="track__info-name">{{playlistTrack.track.name}}</div>
        <div class="track__info-artists">{{playlistTrack.track.artists | artistsNames}}</div>
        <!--<div>{{playlistTrack._id}} / {{playlistTrack.track._id}}</div>-->
      </div>
      <div class="track__data track__user">{{playlistTrack.createdBy?.name}}</div>
      <div class="track__data track__avatars">
        <up-vote-avatars [upVotes]="playlistTrack.upVotes"></up-vote-avatars>
      </div>
    </li>
  </ol>
</div>
