<section class="o-container">

  <now-playing [playlist]="playlist$"></now-playing>

  <div *ngIf="!isLoading">
    <track-search [playlist]="playlist$"></track-search>
    <playlist-queue [playlist]="playlist$"></playlist-queue>
  </div>

  <!--<pre>PlaylistLayout: {{id}}</pre>-->
  <!--<pre>Name: {{(playlist$ | async).name}}</pre>-->
  <!--<pre>Number of tracks: {{(playlist$ | async).tracks?.length}}</pre>-->

  <!--<div *ngIf="isLoading">-->
    <!--<i class="fa fa-circle-o-notch fa-spin"></i> Loading your Soundroom...-->
  <!--</div>-->

  <div *ngIf="!isLoading && !(playlist$ | async).tracks?.length">
    No tracks in this playlist. Add some via the API:
    <pre>curl -X POST -H "Cache-Control: no-cache" -H "Content-Type: application/x-www-form-urlencoded" -d 'foreignId=spotify:track:3W2ZcrRsInZbjWylOi6KhZ&provider=spotify' "http://localhost:8123/api/playlists/{{(playlist$ | async)._id}}/tracks"</pre>
  </div>

</section>
