<section class="o-container">

  <pre>PlaylistLayout: {{id}}</pre>
  <pre>Name: {{(playlist | async).name}}</pre>
  <pre>Number of tracks: {{(playlist | async).tracks?.length}}</pre>

  <div *ngIf="isLoading">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading your Soundroom...
  </div>

  <!--<div *ngIf="!playlist && noPlaylist">-->
  <!--Can't find your Soundroom!-->
  <!--</div>-->

  <!--<div *ngIf="playlist">-->
  <!--<h2>{{playlist.name}}</h2>-->
  <!--{{playlist._id}}-->
  <!--</div>-->

  <!--<now-playing></now-playing>-->
  <!--<add-track></add-track>-->
  <!--<playlist></playlist>-->

</section>
