.o-avatar {
  $size: 30px;
  width: $size;
  height: $size;
  border-radius: $size/2;

  vertical-align: middle;
  border: 1px solid #eee;

  &--medium {
    $size: 40px;
    width: $size;
    height: $size;
    border-radius: $size/2;
  }
}
