@import '../setup/all';

.o-button {
  @include button-no-style();

  padding: 14px 30px;

  border-radius: 4px;
  color: $color-grey-grime;
  background: $color-grey-dust;
  font-weight: bold;
  transition: background-color .6s linear;

  &:hover {
    background-color: darken($color-grey-dust, 5%);
    transition: background-color 0s;
  }
}
