@import '../../../style/setup/all';

:host {
  display: inline-block;
  font-size: 0;
}

svg {
  fill: none;
  stroke-miterlimit: 10;

  transform: rotate3d(0, 0, 1, -90deg);
}

.main {
  stroke: $color-red;
  stroke-width: 2px;
}

.guide {
  stroke: $color-grey-grit;
  stroke-width: 2px;
}
