@import '../style/setup/all';

$height: 60px;

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;

  background-color: $color-white-dusty;
}

nav {
  height: $height;

  background-color: $color-white;
  border-bottom: $color-grey-dust 1px solid;
}

.inner {
  height: $height;
  line-height: $height;
}

.logo {
  color: $color-black-shade;
  text-decoration: none;
  font-weight: bold;
}
