@import '../../../style/setup/all';

:host {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px;

  background-color: $color-green;
}

.inner {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

button.close {
  float: right;
  color: darken($color-green, 20%);

  &:hover {
    color: darken($color-green, 33%);
  }
}

.button {
  @include button($color-green, $color-white);
}

input[type="text"] {
  padding: 14px 14px;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
