$color-green: #55df99;
$color-orange: #f38e5e;
$color-yellow: #f9eb58;

$color-blue-clean: #58bcf3;
$color-blue: #4ab1eb;
$color-blue-dusty: #44a3d9;
$color-blue-dirty: #32779c;

$color-clean: #e35054;
$color-red: #d35b4c;

$color-white: #fff;
$color-white-dusty: #f5f6f7;

$color-grey-dust: #ecedee;
$color-grey-grit: #cccdce;
$color-grey-grime: #48494a;

$color-black-shade: #2a2b2c;
$color-black: #000;
