$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1024px,
  xlarge: 1440px
);

$color-test: crimson;

$global-z: (
  playlist-layout__main-before: 1,
  playlist-layout__inner: 2,
  playlist-layout__drop-url-overlay: 3,
  app-toolbar-layout: 4,
  alertify: 5
);

$app-toolbar-layout__height: 60px;
