@mixin clearfix-content () {
  display: table;
  width: 100%;
  clear: both;
  content: "";
}

@mixin clearfix () {
  // scss-lint:disable PseudoElement
  &:after {
    @include clearfix-content;
  }
  // scss-lint:enable PseudoElement
  &::after {
    @include clearfix-content;
  }
}

@mixin button-no-style() {
  display: inline-block;
  cursor: pointer;

  border: 0 solid transparent;
  border-radius: 0;

  background: transparent;

  box-shadow: none;
  text-shadow: none;

  padding: 0;
  margin: 0;

  -webkit-appearance: button;
}

@mixin button($color: $color-grey-grime, $background-color: $color-grey-dust){
  @include button-no-style();

  padding: 14px 30px;

  border-radius: 4px;
  color: $color;
  background: $background-color;
  font-weight: bold;
  transition: background-color .4s linear, color .4s linear;
  outline: 0;

  &:hover {
    background-color: darken($color, 20%);
    color: $background-color;
    transition: background-color 0s, color 0s;
  }
}


////////////////////////////
// Breakpoints
////////////////////////////

// USAGE: @include breakpoint($breakpoint) {}
@mixin wider-than($breakpoint, $breakpoint-set: $breakpoints) {
  @if map-has-key($breakpoint-set, $breakpoint) {
    @media (min-width: #{map-get($breakpoint-set, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from '#{$breakpoint}'. "
        + "Please make sure it is defined in '$breakpoints' map.";
  }
}

// Writes a media query that limits its contents to that breakpoint only
// ie. Values within the content won't be inherited by any other breakpoints
@mixin only-within($breakpoint, $breakpoint-set: $breakpoints) {
  @if map-has-key($breakpoint-set, $breakpoint) {
    $width-above: get-breakpoint-sibling-width(above, $breakpoint, $breakpoint-set);
    $use-min-width: if(get-breakpoint-index($breakpoint, $breakpoint-set) == 1, false, true);
    @if $width-above > -1 {

      $min-width: "min-width: " + map-get($breakpoint-set, $breakpoint);
      $max-width: "max-width: " + ($width-above - 1);

      @if $use-min-width {
        @media ($min-width) and ($max-width) {
          @content;
        }
      } @else {
        @media ($max-width) {
          @content;
        }
      }
    } @else {
      @media (min-width: #{map-get($breakpoint-set, $breakpoint)}) {
        @content;
      }
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from '#{$breakpoint}'. "
        + "Please make sure it is defined in '$breakpoints' map.";
  }
}
