
* {
  box-sizing: border-box;
}

code, pre {
  background: #ededed;
  color: darkred;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
}

code {
  display: inline-block;
}
