// NOTE:
// The `/src/style` dir and it's subdirs are for global styles only (ie. reusable objects).
// Any component specific styling should be added to the SCSS file within the component dir.

* {
  box-sizing: border-box;
}

code, pre {
  background: #ededed;
  color: darkred;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
}

code {
  display: inline-block;
}


@import 'setup/main';
@import 'objects/all';
