:host {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  padding-bottom: 100px;

  background-color: #f6f6f6;
}

.navbar {
  border-radius: 0;
  background-color: #fff;
  border-color: #ededed;
}
