<section class="o-container">

  <div *ngIf="(auth | async ).state === 'AuthState.LOADING'">
    <h2>Sign In</h2>
    <h3><i class="fa fa-circle-o-notch fa-spin"></i> Logging in...</h3>
  </div>

  <div *ngIf="(auth | async ).state === 'AuthState.LOGGED_IN'">
    <h2>{{(auth | async).user.name}} in da house!</h2>
    <a [routerLink]="['']">Let's get started!</a>
  </div>

  <div *ngIf="(auth | async ).state === 'AuthState.LOGGED_OUT'">
    <h2>Sign In</h2>
    <sr-social-sign-in></sr-social-sign-in>
  </div>

</section>
