<sr-drop-url [playlist]="playlist$ | async">
  <div class="main" *ngIf="playlist$ | async" [class.is-empty]="!(playlist$ | async).tracks?.length">
    <section class="inner">
      <div class="o-container">

        <div *ngIf="!isLoading">
          <sr-now-playing [playlist]="playlist$ | async"></sr-now-playing>
          <sr-track-search [playlist]="playlist$ | async"></sr-track-search>
          <sr-playlist-queue
            [playlist]="playlist$ | async"
            [user]="user$ | async"
            *ngIf="(playlist$ | async).tracks?.length"
          ></sr-playlist-queue>
        </div>

        <!--<pre>PlaylistLayoutComponent: {{id}}</pre>-->
        <!--<pre>Name: {{(playlist$ | async).name}}</pre>-->
        <!--<pre>Number of tracks: {{(playlist$ | async).tracks?.length}}</pre>-->
      </div>
    </section>
  </div>
</sr-drop-url>
