@import '../../style/setup/all';

:host {
  position: relative;
  display: block;
}

drop-url {
  // Ensure drop-url, when in playlist-layout, will always take up full viewport
  display: block;
  min-height: calc(100vh - #{$app-toolbar-layout__height});
  padding: 0 0 100px;
}

.main {
  &:before {
    position: absolute;
    z-index: map-get($global-z, playlist-layout__main-before);
    display: block;
    width: 100%;
    height: 200px;
    background: $color-red;
    content: '';
  }

  &.is-empty {
    &:before {
      background: $color-grey-grit;
    }
  }

  transition: filter .5s $ease-out-expo;
}

.inner {
  position: relative;
  z-index: map-get($global-z, playlist-layout__inner);
  display: block;
  width: 100%;
  height: 100%;
}

.o-container {

  //z-index: 2;

}

h2 {
  text-align: center;
}

now-playing {
  min-height: 270px;
}
