<p>
  If you've signed in before, please use the same social sign-in option as before.
</p>

<ul>
  <li><a href="{{serverBaseUrl}}/auth/google/?redirect={{redirectUrl}}" class="social-link google"><i class="fa fa-google fa-3x"></i></a></li>
  <li><a href="{{serverBaseUrl}}/auth/spotify/?redirect={{redirectUrl}}" class="social-link spotify"><i class="fa fa-spotify fa-3x"></i></a></li>
  <li><a href="{{serverBaseUrl}}/auth/twitter/?redirect={{redirectUrl}}" class="social-link twitter"><i class="fa fa-twitter fa-3x"></i></a></li>
  <li><a href="{{serverBaseUrl}}/auth/facebook/?redirect={{redirectUrl}}" class="social-link facebook"><i class="fa fa-facebook fa-3x"></i></a></li>
</ul>
