<div class="columns" *ngIf="playlistCollection.active">
  <div class="artwork column" *ngIf="playlistCollection.active.current">
    <img class="artwork-image" [src]="playlistCollection.active.current.track.images[2].url">
  </div>

  <div class="info column">
    <div class="playlist-name">
      {{playlistCollection.active.name}} is playing
    </div>

    <div class="track-name">{{playlistCollection.active.current?.track?.name}}</div>
    <div class="artist-name">{{playlistCollection.active.current?.track?.artists | artistsNames}}</div>
  </div>

  <div class="meta column">
    <!-- Use [routerLink]="['playlist', playlist._id]" when https://github.com/angular/angular/issues/9471 fixed -->
    <button class="join" (click)="joinRoom()">Join Room</button>
  </div>
</div>
