<div class="columns" *ngIf="playlistCollection.active">
  <div class="artwork column" *ngIf="playlistCollection.active.current">
    <img class="artwork-image" [src]="playlistCollection.active.current.track.images[2].url">
  </div>

  <div class="info column">
    <div class="playlist-name">
      {{playlistCollection.active.name}} is playing
    </div>

    <div class="track-name">{{playlistCollection.active.current?.track?.name}}</div>
    <div class="artist-name">{{playlistCollection.active.current?.track?.artists | srArtistsNames}}</div>
  </div>

  <div class="meta column">
    <button class="join" [routerLink]="['/room', playlistCollection.active._id]">Join Room</button>
  </div>
</div>
