@import '../../../style/setup/all';

:host {
  display: block;

  background: #fff;
}

.info {
  padding: 40px 20px;

  &__playlist-name {
    color: $color-grey-grit;
  }

  &__track-name {
    color: $color-red;
    font-size: 42px;
    font-weight: bold;
  }

  &__artist-name {
    color: $color-grey-grime;
    font-size: 24px;
  }

  &__user-name-added {
    color: $color-grey-grit;
    margin: 30px 0 0;
  }

  &.is-empty &__title {
    font-size: 40px;
    color: $color-grey-grit;
  }

  &.is-empty &__text {
    color: $color-grey-grit;
  }
}

.artwork {
  position: relative;
  min-height: 240px;
}

timeline, .play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

////////////////////////////
// Breakpoints
////////////////////////////

@include wider-than(medium) {
  .columns {
    display: flex;
    align-items: center;
    width: 100%;
    height: 380px;
  }

  .artwork {
    flex: 1 1 30%;
    text-align: center;
  }

  .info {
    flex: 1 1 70%;
    vertical-align: middle;

    &__playlist-name {
      margin: 0 0 30px;
    }
  }
}
