<div class="columns" *ngIf="(playlist$ | async).loadState === 'PlaylistState.LOADING'">
  <div class="artwork">

  </div>
  <div class="info">
    Loading...
  </div>
</div>

<div class="columns" *ngIf="!(playlist$ | async).loadState">
  <div class="artwork">
    <timeline [percentage]="progress$"></timeline>

    <div class="play-pause" *ngIf="!isLoading && (playlist$ | async).tracks?.length">
      <button
        class="u-no-style"
        *ngIf="!(playlist$ | async).isPlaying"
        (click)="play()"><i class="fa fa-play fa-2x"></i></button>
      <button
        class="u-no-style"
        *ngIf="(playlist$ | async).isPlaying"
        (click)="pause()"><i class="fa fa-pause fa-2x"></i></button>
    </div>
  </div>
  <div class="info">
    <div class="playlist-name">Now playing in {{(playlist$ | async).name}}</div>

    <div class="track-name">{{(playlist$ | async).current?.track?.name}}</div>
    <div class="artist-name">{{(playlist$ | async).current?.track?.artists | artistsNames}}</div>
    <div class="user-name-added">Added by [username placeholder]</div>
    <!--<pre>-->
      <!--Progress: {{(playlist$ | async).current?.progress}}-->
      <!--Track Name: {{(playlist$ | async).current?.track?.name}}-->
    <!--</pre>-->
  </div>
</div>

<!--<pre>loadState: {{(playlist$ | async).loadState}}</pre>-->
<!--<pre>tracks: {{(playlist$ | async).tracks}}</pre>-->
