<button class="close u-no-style"
        [class.is-delete-confirm]="DeleteState.INACTIVE !== deleteState && DeleteState.NETWORK !== deleteState"
        *ngIf="DeleteState.NETWORK !== deleteState"
        (click)="deleteMe()"
        [disabled]="DeleteState.CONFIRM_DISABLED === deleteState">
  <i class="fa fa-close"></i>
  <span *ngIf="DeleteState.CONFIRM_DISABLED === deleteState || DeleteState.CONFIRM_ENABLED === deleteState">Delete playlist forever?
    <span *ngIf="deleteDisabledSecs > 0">({{deleteDisabledSecs}})</span>
  </span>
</button>

<h3>{{playlist.name}}</h3>
<!--<code>{{playlist._id}}</code>-->

<i *ngIf="DeleteState.NETWORK === deleteState" class="fa fa-circle-o-notch fa-spin"></i>

<div>
  <button class="join" [routerLink]="['/room', playlist._id]">Join Room</button>
</div>
