<div class="overlay">
  <div class="overlay__message-default">
    <div class="col-1">
      <i class="icon fa fa-plus"></i>
    </div>
    <div class="col-2">
      <h1>Drop your track to add!</h1>
    </div>
  </div>
  <div class="overlay__message-accepted">
    <div class="col-1">
      <i class="icon fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="col-2">
      <h1>Adding your track...</h1>
    </div>
  </div>
  <div class="overlay__message-rejected">
    <div class="col-1">
      <i class="icon fa fa-frown-o"></i>
    </div>
    <div class="col-2">
      <h1>That's not a Spotify track!</h1>
      <p>Try dragging over a track from your Spotify desktop app.</p>

      <button>Okay, got it</button>
    </div>

  </div>
</div>

<ng-content></ng-content>
