<button *ngIf="state=='default'" class="btn btn-default" (click)="state='editStep1'">Create a room +</button>

<div *ngIf="state=='editStep1' || state=='editStep2'">
  <button class="close no-style" (click)="state='default'"><i class="fa fa-close"></i></button>

  <input type="text" autofocus placeholder="Give your room a snazzy name" class="form-control" [(ngModel)]="name">

  <input *ngIf="state=='editStep2'" type="text" placeholder="What's the music policy?" class="form-control" [(ngModel)]="description">

  <button class="btn btn-default" (click)="validate()">
    <span *ngIf="state=='editStep1'">Next</span>
    <span *ngIf="state=='editStep2'">Create!</span>
  </button>
</div>

<div *ngIf="state=='creating'">
  <i class="fa fa-circle-o-notch fa-spin"></i> Creating "<span>{{name}}</span>"
</div>
