:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px;

  background-color: #45de85;
}

button.no-style {
  /* Remove styling of <button> element */
  display: block;
  cursor: pointer;

  border: 0 solid transparent;
  border-radius: 0;

  background: transparent;

  box-shadow: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  padding: 0;
  margin: 0;

  -webkit-appearance: button;
}

button.close{
  float: right;
}
